:root {

  /* Colors: */
  --yellow: #FFDD4D;
  --black: #1E1F22;
  --secondary-white: #F2F2F4;
  --white: #FFFFFF;
  --border-color: #ECEDF2;
  --secondary-text: #828691;
  --pink: #FD0272;
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
}

.container {
  background: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.main-bloc {
  padding-right: 90px;
}

.slogan h1 {
  text-align: left;
  letter-spacing: -0.77px;
  font-size: 64px;
  font-weight: bold;
  line-height: 74px;
  margin: 16px 0;
  width: 450px;
}

.slogan span:nth-child(1) {
  color: var(--pink);
}

.slogan span:nth-child(2) {
  font-family: work sans;
}

.info {
  width: 440px;
  text-align: left;
  letter-spacing: 0px;
  color: var(--secondary-text);
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
}


/* ============================= FORM ============================= */


form input {
  padding: 8px;
}

.form-bloc {
  width: 410px;
  height: 440px;
  border: 2px solid var(--border-color);
  border-radius: 24px;
}

.limited-tag {
  top: -16px;
  left: -16px;
  width: 145px;
  height: 46px;
  background: var(--yellow);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 14px;
  letter-spacing: 0.56px;
}

.form-bloc h3 {
  text-align: left;
  letter-spacing: 0px;
  color: var(--black);
  margin: 4px 30px;
  font-size: 24px;
  font-weight: 500;
}

.form-input label {
  color: var(--unnamed-color-1e1f22);
  padding: 20px;
  font-weight: 400;
}

.form-input {
  padding: 8px;
}

.form-input input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 50px;
  border: 2px solid var(--border-color);
  border-radius: 12px;
  margin: 4px auto;
}

#check-conditions {
  margin-right: 8px;
}

#check-conditions:hover {
  cursor: pointer;
}

#check-conditions:checked {
  appearance: none;
  background: var(--pink);
  border-radius: 5px;
  margin-right: 4px;
}

.conditions {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.conditions a {
  color: #1E1F22;
}

#submit {
  background: var(--pink);
  border-radius: 12px;
  color: var(--white);
  border: none;
  padding: 20px;
  margin: 30px;
  width: 350px;
}

#submit:hover {
  background: #D10761;
  cursor: pointer;
}

/* ============================= CUSTOM ============================= */


.container.active {
  filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.25);
}


/* ============================= POP-UP ============================= */

.pop-up {
  display: none;
}

.pop-up.active {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 380px;
  height: 305px;
  background: var(--white);
  border-radius: 12px;
  border: 1px solid var(--border-color);
}

.pop-up-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pop-up-header img {
  width: 100px;
  margin-top: 30px;
}


.close-button {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  border-radius: 50%;
  color: var(--secondary-text);
  border: none;
}

.pop-up-body h2 {
  text-align: center;
  letter-spacing: 0px;
  color: var(--black);
  margin: 16px;
}

.pop-up-body p {
  width: 300px;
  text-align: center;
  letter-spacing: 0px;
  color: #828691;
  font-weight: 200;
}



/* ============================= RESPONSIVE ============================= */



@media screen and (max-width: 1100px) {

  .container {
    flex-direction: column;
    margin-top: 100px;
  }

  .form-bloc {
    margin-top: 64px;
  }

  .main-bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px;
  }

  .name {
    width: 100%;
  }

}

@media screen and (max-width: 530px) {

  .info {
    width: 100%;
  }

  .main-bloc h1 {
    font-size: 32px;
    width: 320px;
    padding: 8px;
    line-height: normal;
  }

  .main-bloc p {
    max-width: 300px;
    margin: 0 auto;
  }

  .main-bloc img {
    padding: 8px;
  }

  .slogan {
    font-size: 32px;
  }

  .form-bloc {
    margin-bottom: 24px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .form-input input {
    width: 90%;
  }

  .form-input {
    width: 100%;
  }

  .form {
    width: 100%;
    margin-left: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #submit {
    width: 250px;
  }

  .limited-tag {
    margin-left: 32px;
  }

  .conditions {
    margin-right: 32px;
    font-size: 14px;
  }

}
